<div class="music-player">
  <div class="track-info">
    <img [src]="currentTrack?.image || 'assets/default-image.jpg'" class="album-art" alt="Album Art" />
    <div class="track-details">
      <h3 class="track-name">{{ currentTrack?.name || 'No track playing' }}</h3>
      <p class="track-artist">{{ currentTrack?.artist_name || 'Unknown artist' }}</p>
    </div>
  </div>
  
  <div class="controls">
    <div class="control-buttons">
      <button (click)="playPrevious()">
        <i class="material-icons">skip_previous</i>
      </button>
      <button (click)="togglePlay()">
        <i class="material-icons">{{ isPlaying ? 'pause_circle_filled' : 'play_circle_filled' }}</i>
      </button>
      <button (click)="playNext()">
        <i class="material-icons">skip_next</i>
      </button>
      <button (click)="toggleRepeat()" [class.active]="isRepeatMode">
        <i class="material-icons">repeat</i>
      </button>
    </div>
    
    <div class="progress-bar-container">
      <span class="time">{{ formatTime(currentTime) }}</span>
      <input 
        type="range" 
        class="progress-bar" 
        min="0" 
        [max]="totalTime || 0" 
        [value]="currentTime || 0" 
        (input)="onProgressChange($event)"
      />
      <span class="time">{{ formatTime(totalTime) }}</span>
    </div>
  </div>

  <div class="volume-control">
    <i class="material-icons">volume_up</i>
    <input
      type="range"
      min="0"
      max="1"
      step="0.1"
      [value]="volume"
      (input)="onVolumeChange($event)"
    />
  </div>

  <!-- Heart/Favorite Button -->
  <button (click)="toggleFavorite()" style="background: transparent; border: none;">
    <i class="material-icons" [style.color]="isInFavorites ? '#cb6ce6' : '#b3b3b3'">favorite</i>
  </button>
  
  <!-- Create New Playlist Button -->
  <button (click)="openCreatePlaylistDialog()" style="background: transparent; border: none;">
    <i class="material-icons">playlist_add</i>
  </button>

  <!-- Playlist Menu -->
  <div class="playlist-menu" *ngIf="showPlaylistMenu" [style.top]="playlistMenuTop" [style.left]="playlistMenuLeft">
    <div *ngIf="playlists.length > 0; else noPlaylists">
      <div class="playlist-menu-item" *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist.id)">
        {{ playlist.name }}
      </div>
    </div>
    <ng-template #noPlaylists>
      <div class="no-playlists">No playlists available</div>
    </ng-template>
    <div class="playlist-menu-item create-new" (click)="openCreatePlaylistDialog()">
      Create New Playlist
    </div>
  </div>
</div>
