/* Sidebar styles */
.sidebar {
    background-color: #1A181F;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    color: white;
    border-right: 1px solid #ccc;
    z-index: 1000;
}

/* Custom scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #C969E6;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #db87f5;
}

/* Logo styles */
.sidebar .side-hearder .logo img {
    width: 100%; 
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.features {
    
    margin-top: 80px;
    }
ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    padding-right: 10px;
    padding-left: 10px; 
    margin-top: 15px; 
}

ul li a:hover {
    background: rgba(201, 105, 230, 0.1);
    color: #C969E6;
}

/* Sidebar icon styling */
ul li a i {
    color:#fff;
    font-size: 27px;
    padding-right: 15px;
}

.playlist {
    margin-top: 40px;
    padding: 0 20px;
}
