/* Sidebar styles */
.sidebar {
  background-color: #1A181F;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  overflow-y: auto;
  color: white;
  border-right: 1px solid #ccc;
}

/* Logo styles */
.sidebar .side-header .logo img {
  width: 100%; 
}

.features {
  margin-top: 80px;
  margin-right: 10px;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: flex; /* Use flexbox for icon + text alignment */
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  margin-top: 15px; 
  transition: all 0.3s ease; /* Smooth transition */
  border-radius: 5px; /* Rounded edges */
}

/* Sidebar icon styling */
ul li a i {
  color: #fff;
  font-size: 27px;
  padding-right: 15px;
  transition: color 0.3s ease; /* Smooth transition for color */
}

/* Hover and focus effects (applied to <a>, affecting icon and text together) */
ul li a:hover, ul li a:focus {
  background-color: #29282D; /* Darker purple background */
  color: #C66BDE; /* Light purple text */
  border-radius: 9px;
}

ul li a:hover i, ul li a:focus i {
  color: #C66BDE; /* Light purple icon */
}

/* Playlist styles */
.playlist a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.playlist .plus {
  font-size: 30px;
  color: #824575;
  font-weight: 400;
  display: inline-block;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(90, 89, 89);
  margin: 20px 0;
}

.image {
  width: 150px;
  position: absolute;
  top: 0;
}

.side-header {
  margin-bottom: 30px; 
}

.plus {
  margin-left: 120px;
}
