/* Sidebar styles */
.sidebar {
  background-color: #1A181F;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  overflow-y: auto;
  color: white;
  border-right: 1px solid #ccc;
}

/* Logo styles */
.sidebar .side-header .logo img {
  width: 100%; 
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.features {
  margin-top: 80px;
  margin-right: 10px;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: flex; /* Use flexbox for icon + text alignment */
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  
}

.search:focus::placeholder {
  color: transparent;
}

.search:focus {
  border-color: #db87f5;
  outline: none;
}

.search:hover {
  background-color: #3c3c3f;
}

.button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button i {
  font-size: 20px;
  color: #cccccc;
  margin-top: 10px;
}

.button:hover i {
  color: #db87f5;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #C969E6;
}

.profile-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.playlist .plus {
  font-size: 30px;
  color: #824575;
  font-weight: 400;
  display: inline-block;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(90, 89, 89);
  margin: 20px 0;
}