<head>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<div class="auth">
  <div class="navbar">
    <div class="searchbar">
      <input 
        type="text" 
        [(ngModel)]="searchQuery" 
        class="search" 
        placeholder="Artistes, titres, podcasts..."
        (keyup.enter)="searchTrackByName()"
      >
      <button type="button" class="button" (click)="searchTrackByName()">
        <i class='bx bx-search-alt-2'></i>
      </button>
       <button routerLink="/login" class="btn btn-login">Login</button>
      <button routerLink="/sign-up" class="btn btn-signup">Sign Up</button>
    </div>
    
   
    
  </div>
</div>

<app-side-component></app-side-component>

<div class="container">
  <div *ngIf="tracks.length; else noTracks">
    <div class="row">
      <div class="col-md-4" *ngFor="let track of tracks">
        <div class="">
          <img
            [src]="track.album_image"
            class="card-img-top"
            alt="{{ track.name }}"
          />
          
            <h6 class="card-track">{{ track.name }}</h6>
            <p class="card-artist">Artist: {{ track.artist_name }}</p>
           
        </div>
      </div>
    </div>
  </div>
  <ng-template #noTracks>
    <p>No tracks available</p>
  </ng-template>
</div>

