<head>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<nav class="auth-buttons">  
  <div class="navbar">
    <div class="searchbar">
        <input type="text"  [(ngModel)]="searchQuery" class="search"  placeholder="Artistes, titres, podcasts...">
        <button type="button" class="button" (click)="searchTracks()">
            <i class='bx bx-search-alt-2'></i>
        </button>
        <button routerLink="/login" class="btn btn-login">Login</button>
    <button routerLink="/sign-up" class="btn btn-signup">Sign Up</button>
    </div>
</div>



</nav>


<app-side-component></app-side-component>
<body>
  <div class="results">
    <h2>Tracks</h2>
    <div *ngFor="let track of tracks" class="track-card">
      <h3>{{ track.name }}</h3>
      <p>By {{ track.artist_name }}</p>
    </div>
  
    <h2>Artists</h2>
    <div *ngFor="let artist of artists" class="artist-card">
      <h3>{{ artist.name }}</h3>
    </div>
  </div>
</body>

